/** General **/

*{
    box-sizing: border-box;
    font-size: 64.5%;
    margin: 0;
    padding: 0;

}

html {
    min-height: 100%;
    position: relative;
  }

body{
    background-color: #E6DEDD;
    margin: 0;
    margin-bottom: 40px;
}


a{
    text-decoration: none;
    font-size: 2rem;
}

p{
    font-size: 1.6rem;
    color: #1B120F;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 2rem;
}

h1{
    font-size: 13rem;
    color: #E6DEDD;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .5rem;
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 10rem;
    }
}

h2{
    font-size: 7rem;
    font-family: 'Bebas Neue', sans-serif;
    padding: 2rem;
}

h3{
    font-size: 2.599rem;
    font-family: 'Josefin Sans', sans-serif;
}

h2, h3{
    
    text-align: center;
}


body {
    padding-bottom: 20px;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  .colorfondo{
    background-color: #212529;
  }


/* Footer*/
.footer{
    background-color: #0a0a0a;
    margin-top: 2rem;
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;

}

.footer__texto{
    color: #E6DEDD;
}

.footer__icons__icon{
    width: 20px;
    margin: 0 0.5rem;
}

/* Header */



.header{
    background-color: #0a0a0a
}

.header__logo{
    margin: 2rem;
    width: 200px;
}

@media screen and (min-width: 768px) {
    .header__logo{
        display: none;
    }

    .contenedor__logo{
        margin: 2rem;
        width: 200px;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (max-width: 768px) {


    .contenedor__logo{
        display: none;
    }


}


/* Navegación**/

.navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
  }

.navbar-dark .navbar-nav .nav-link {
    color: #F89D13;
    font-family: 'Roboto', sans-serif;
    margin-left: 2rem;
  }
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #E6DEDD;
  }
  .navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
  }
  .navbar-dark .navbar-nav .show > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active {
    color: #E6DEDD;
  }
  .navbar-dark .navbar-toggler {
    font-size: 4rem;
    color: #E6DEDD;
    border-color: #e6dedd65;
    position: relative;
    right: 4rem;
  }

  .nav-link .active,
  .nav-link .active:hover {
    color: #E6DEDD;
  }




@media screen and (max-width: 768px) {
    .header__logo{
        margin: 0;
    }

    .header__logo .navegacion__enlace{
        padding: 0;
    }


}

/* Titulo Principal */
.tituloprincipal{
    background: linear-gradient(to top , rgb(0 0 0 /.3), rgb(0 0 0 /.9)), url("../assets/images/indexbackground.jpg");
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Presentacion Inicio */
.presentacion{
    font-size: 2rem;
    line-height: 2.3rem;
    padding: 6rem;
}

/** Servicios Index **/

.icono{
    width: 3rem;
}



/** Página Producciones **/

.cover{
    object-fit: cover;
}

.titulo-producciones{
    font-family: 'Abel', sans-serif;
    font-size: 5.8rem;
    
}

.texto-producciones{
    font-size: 1.6rem;
    font-family: 'Courier New', Courier, monospace;
}
