body{
    .contendor{
        .navbar {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin-bottom: 0;
          }
    }
}


.navbar-dark .navbar-nav .nav-link {
    color: $color-terciario;
    font-family: $font-texto;
    margin-left: 2rem;
  }
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color:$color-secundario;
  }
  .navbar-dark .navbar-nav{
    color: rgba(255, 255, 255, 0.25);
  }
  .navbar-dark .navbar-nav .show > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active {
    color: $color-secundario;
  }
  .navbar-dark .navbar-toggler {
    font-size: 4rem;
    color: $color-secundario;
    border-color: #e6dedd65;
    position: relative;
    right: 4rem;
  }

  .nav-link .active,
  .nav-link .active:hover {
    color: $color-secundario;
  }
