
$color-primario: #0a0a0a;
$color-secundario:#E6DEDD;
$color-terciario: #F89D13;

$ancho-servicios: 100rem;
$borde-caja: .1rem solid $color-primario;
$gradient-servicio: linear-gradient(to top , rgba(199, 5, 5, 0.507), rgba(199, 0, 0, 0.5));
$sombra-interior: inset 2px -18px 74px -19px rgba(0,0,0,0.75);
$sombra-exterior: 0px 0px 7px 1px rgba(0,0,0,0.75);
$sombra-texto: $color-primario .1rem 0 1rem;

$screen-sm-max: 767px;


